

{% include stats/card.html title="stats.armor_class" id="armor_class" class_names=include.class_names %}
{% include stats/card.html title="stats.initiative" id="initiative" class_names=include.class_names %}
{% include stats/card.html title="stats.speed" id="speed" class_names=include.class_names %}
{% include stats/card.html title="stats.passive_perception" id="passive_perception" class_names=include.class_names %}
{% include stats/card.html title="stats.proficiency_bonus" id="proficiency_bonus" class_names=include.class_names %}
{% include stats/card.html title="stats.inspiration" id="inspiration" class_names=include.class_names %}
