{% assign weapons_indexes = (1..6) %}
{% assign pagination_id = "weapons_amount" %}

<div class="
    bg-neutral-100 dark:bg-zinc-800 duration-800
    border-3 border-stone-600 dark:border-stone-600 rounded-lg p-3
    flex flex-col gap-1
    {{ include.class_names }}
  "
  data-controller="pagination"
  data-pagination-cookie-prefix-value="weapon"
  data-pagination-hidden-class="hidden"
  data-pagination-id-value="{{ pagination_id }}"
  data-action="pagination:change->state#save state:loaded@window->pagination#load"
>
  <h1
    class="text-xl text-center font-bold"
    data-i18n-target="translation" data-t="weapons.title"
  >
  </h1>

  <div class="flex items-center justify-center">
    {%
      include shared/dropdown.html
      id=pagination_id
      label="weapons.weapons_amount"
      options=weapons_indexes
      data_pagination_target="input"
      data_action="change->pagination#update"
      input_class_names="w-[3rem]"
    %}
  </div>

  <div class="flex flex-col gap-2">
    {% for index in weapons_indexes %}
      {% assign weapon_id = "weapon_" | append: index %}
      {% assign class_names = "" %}

      {% if index > weapons_displayed_default %}
        {% assign class_names = class_names | append: "hidden" %}
      {% endif %}

      {% include weapons/item.html id=weapon_id class_names=class_names %}
    {% endfor %}
  </div>
</div>
